@charset "utf-8";

.page{
	width: 100%;
	height:100%;
	background: black;
	padding-bottom: 80px;
}
/*-----------------------Header------------------------*/
.header_container{
	width: 800px;
	height: 180px;
	background: black;
	align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    }
.header_box{
	color: white;
	align-items: center;
    display: flex;
    justify-content: center;
}
/*-----------------------Main------------------------*/
.main_container{
	width: 700px;
	height: auto;
	background: white;
	padding: 50px 50px 50px 50px ;
	margin: 0 auto;
	border-radius: 8px;
}
/*--------------titleInfo-------------------------*/
.titleInfo_box{
	display: flex;
    align-items: center;
}
.titleInfo_name_item{
	width: 100px;
	height: 40px;
	color: black;
	align-items: center;
    display: flex;
    justify-content: center;
}
.titleInfo_line{
	width: 600px;
	border: solid 0.1px black;
	background: black;
	margin-top: 10px;
	margin-bottom: 10px;
}
.titleInfo_button{
	border-radius: 5px;
	border: solid 1px #8a8a8a;
	width: 140px;
	height: 30px;
}
/*--------------songInfo-------------------------*/
.songInfo_container{ 
	margin-top: 10px;
	display: flex;
}

.songInfo_box{
	border: solid 2px black;
    margin: 0 auto;
	width: 300px;
	padding: 10px;
	border-radius: 5px;
}
.songInfo_add_box{
	height: 40px;
	display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.songInfo_code_add_box{
	height: 40px;
	display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.songInfo_track_add_box{
	height: 40px;
	display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.songInfo_add_item{
	width: 60px;
	display: flex;
    align-items: center;
}


.songInfo_name_item{
	width: 100px;
	height: 40px;
	color: black;
	align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.songInfo_add_input_button{
	border-radius: 5px;
	border: solid 1px #8a8a8a;
	width: 150px;
	height: 30px;
}

/*--------------songInfo_quantity-------------------------*/
.songInfo_quantity_updown_button_box{
	display: flex;
	width: 60px;
	justify-content: space-evenly;
}
.songInfo_quantity_updown_button{
	width: 25px;
	height: 40px;
	background: #ccc;
	border-radius: 20px;
	box-shadow: 3px 3px 3px black;
	transition-duration: 0.3s;
	align-items: center;
    display: flex;
    justify-content: center;
}
.songInfo_quantity_updown_button:active{
	margin-left: 1px;
	margin-top: 1px;
	box-shadow: none;
}
.songInfo_quantity_name_item{
	color: black;
	align-items: center;
    display: flex;
    justify-content: center;
}
.songInfo_quantity_updown_button{
	font-size: 5px;
	width: 20px;
	height: 15px;
}
.songInfo_quantity_input_button{
	width: 40px;/*원래 30 이었음*/
	height: 20px;
	
}
.songInfo_quantity_box{
	justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: 40px;
}

/*
#trackNumInput{
	placeholder= "1";
}
*/

/*-----------------apply_button_container-----------------*/


.save_button_container{
	display: flex;
    align-items: center;
    padding-top: 20px;
	justify-content: flex-end;
}

