@charset "EUC-KR";

.header_container {
    display: flex;
    justify-content: space-between;
}
.upvoteLogo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.user_box {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.profileImg {
    background: url(../image/profile/default_profile.png);
    background-size: 100% 100%;
    width: 2em;
    height: 2em;
    margin: auto;
    margin-right: 0.4em;
    border-radius: 100%;
    cursor: pointer;
}