@charset "UTF-8";
a {
    color: #b4a5d9;
    text-decoration: none;
}
.signUpBox {
	width: 500px;
    padding: 30px;
    background: #B3A5D9;
    border-radius: 20px;
}
.signUpInputmBox{
	width: 80%;
	text-align:center;
	padding: 0;
}
.signUpInputForm {
    background-color: #FFEAF9;
    color: #4E4E4E;
    border: 0;
    outline: none;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    padding-left: 1em;
    box-shadow: inset 0px 2px 2px rgb(0 0 0 / 25%);
}
.anotherTitle{
	width: 98px;
}
.signUpTitle {
	text-align: left;
    padding: 0;
    line-height: 2em;
    width: 100px;
    font-weight: bold;
}
.alertBox {
    padding: 0 0 0 1em;
    font-size: 0.8em;
}

.createSignUp {
	margin: auto;
    background: #DAD1FF;
    text-align: center;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    line-height: 44px;
    margin-top: 1em;
    border-radius: 10px;
    color: #4E4E4E;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.signUpculumnRow{
	align-items: center;
    margin-bottom: 0.5em;
    padding: 0;
    display: flex;
  	justify-content: flex-end;
}

.overlapContainer {
	margin-bottom: 0.5em;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.overlap {
	padding-top: 7px;
}

.checkIdOverlap {
	padding: 6px;
    cursor: pointer;
    margin-right: 30px;
    background: #DAD1FF;
    border-radius: 10px;
    color: #4E4E4E;
    width: 70px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.Idoverlap{
	display: none;
	color: red;
}

.IdNotOverlap {
	display: none;
	color: white;
}

.signUpContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0.01turn, #00a8ff1c, #080a0c00);
}

.pwdAlertError{
	display: none;
	color: red;
	margin-left: 100px;
}

.alertId{
	display: none;
	color: red;
	margin-left: 100px;
}

.alertName{
	display: none;
	color: #ff0000;
    margin-bottom: 0.5em;
    margin-left: 100px;
}

.alertPwd1{
	display: none;
	color: red;
	margin-left: 100px;
	margin-bottom: 0.5em;
}

.alertPwd2{
	display: none;
	color: red;
	margin-left: 100px;
}

.signUpAlertBox{
	display: none;
    width: 300px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
    color: black;
    font-weight: bold;
}

.overlapAlertBox{
	display: none;
    width: 300px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
    color: black;
    font-weight: bold;
}

.signUpAlertBox.modalCloseBtn {
	position: absolute;
	top: 35px;
	right: 10px;
}

.modalCloseBtn{
	cursor: pointer;
	position: absolute;
    top: 35px;
    right: 10px;
}



