@charset "UTF-8";
	  
.findModal {
	display: none;
    width: 300px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
    color: black;
    font-weight: bold;
}

.findmodal .modalCloseBtn {
	position: absolute;
	top: 10px;
	right: 10px;
}

.loginErrorModal {
	display: none;
    width: 300px;
    background-color: rgb(217 209 254);
    border: 2px solid #8172c5;
    border-radius: 10px;
    color: #4e4e4e;
    font-weight: bold;
    height: 50px;
    padding-top: 13px;
    padding-left: 15px;
}

.modalCloseBtn{
	padding-left: 25px;
	cursor: pointer;
	color : #ff0000
}

.login_purple_background {
    height: 410px;
    width: 350px;
    background: #B3A5D9;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 모바일 */
@media ( max-width : 375px) {
	.login_box {
		width: 700px;
    	margin: 0 auto;
    	text-align: center;
    	margin-bottom: 8em;
	}
	.loginSection {
		margin-bottom: 1em;
	}
	.loginSectionTitle {
	    margin-top: 9em;
		font-size: 21px;
		font-weight: bold;
		margin-bottom: 8px;
	}
	.idListSection {
		font-size: 1.8em;
	}
	.pwdListSection {
		font-size: 1.8em;
	}
	
	.loginBtn {
		cursor: pointer;
	    width: 150px;
	    height: 50px;
	    margin: 20px auto 1px;
	    background-color: #DAD1FF;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	    border-radius: 10px;
	    color: #4E4E4E;
	    font-weight: bold;
	    font-size: large;
	}
	.idBox {
		
	}
	.idList {
		
	}
	.loginInputForm {
		background-color: #505051;
		color: #fff;
		width: 300px;
		height: 42px;
		outline: none;
		font-size: 1.1em;
		border: 0;
		padding-left: 10px;
		box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
	}
	.insertId {
		background-color: #FFFFFF;
		color: #898989;
		border-radius: 10px;
	}
	.pwdBox {
		
	}
	.inputList {
		margin: 0.7em auto;
	}
	.pwdList {
		
	}
	.insertPwd {
		background-color: #FFEAF9;
		color: #898989;
    	border-radius: 10px;
	}
	.loginBtnBox {
		
	}
	.signUpBox {
		display: flex;
		text-align: center;
		margin: auto;
		justify-content: center;
		margin-top: 10px;
	}
	.signUpBox>div {
		cursor: pointer;
		margin: 0 10px;
	}
}
/* 웹최소 */
@media ( min-width : 376px) and (max-width: 575px) {
	.login_box {
		width: 700px;
    	margin: 0 auto;
    	text-align: center;
    	margin-bottom: 8em;
	}
	.loginSection {
		margin-bottom: 1em;
	}
	.loginSectionTitle {
	    margin-top: 9em;
		font-size: 21px;
		font-weight: bold;
		margin-bottom: 8px;
	}
	.idListSection {
		font-size: 1.8em;
	}
	.pwdListSection {
		font-size: 1.8em;
	}
	.resetPwdEmail {
		text-align: center;
	}
	.loginBtn {
		cursor: pointer;
	    width: 150px;
	    height: 50px;
	    margin: 20px auto 1px;
	    background-color: #DAD1FF;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	    border-radius: 10px;
	    color: #4E4E4E;
	    font-weight: bold;
	    font-size: large;
	}
	.idBox {
		
	}
	.idList {
		
	}
	.loginInputForm {
		background-color: #505051;
		color: #fff;
		width: 300px;
		height: 42px;
		outline: none;
		font-size: 1.1em;
		border: 0;
		padding-left: 10px;
		box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
	}
	.insertId {
		background-color: #FFFFFF;
		color: #898989;
		border-radius: 10px;
	}
	.pwdBox {
		
	}
	.inputList {
		margin: 0.7em auto;
	}
	.pwdList {
		
	}
	.insertPwd {
		background-color: #FFEAF9;
		color: #898989;
    	border-radius: 10px;
	}
	.loginBtnBox {
		
	}
	.signUpBox {
		display: flex;
		text-align: center;
		margin: auto;
		justify-content: center;
		margin-top: 10px;
	}
	.signUpBox>div {
		cursor: pointer;
		margin: 0 10px;
	}
}
/* 가로모드 모바일 디바이스 (가로 해상도가 576px보다 크고 768px 보다 작은 화면에 적용) */
@media ( min-width : 576px) and (max-width: 767px) {
	.login_box {
		width: 700px;
    	margin: 0 auto;
    	text-align: center;
    	margin-bottom: 8em;
	}
	.loginSection {
		margin-bottom: 1em;
	}
	.loginSectionTitle {
		margin-top: 9em;
		font-size: 21px;
		font-weight: bold;
		margin-bottom: 8px;
	}
	.idListSection {
		font-size: 1.8em;
	}
	.pwdListSection {
		font-size: 1.8em;
	}
	.resetPwdEmail {
		text-align: center;
	}
	.loginBtn {
		cursor: pointer;
	    width: 150px;
	    height: 50px;
	    margin: 20px auto 1px;
	    background-color: #DAD1FF;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	    border-radius: 10px;
	    color: #4E4E4E;
	    font-weight: bold;
	    font-size: large;
	}
	.idBox {
		
	}
	.idList {
		
	}
	.loginInputForm {
		background-color: #505051;
		color: #fff;
		width: 300px;
		height: 42px;
		outline: none;
		font-size: 1.1em;
		border: 0;
		padding-left: 10px;
		box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
	}
	.insertId {
		background-color: #FFFFFF;
		color: #898989;
		border-radius: 10px;
	}
	.pwdBox {
	
	}
	.inputList {
		margin: 0.7em auto;
	}
	.pwdList {
		
	}
	.insertPwd {
		background-color: #FFEAF9;
		color: #898989;
    	border-radius: 10px;
	}
	.loginBtnBox {
		
	}
	.signUpBox {
		display: flex;
		text-align: center;
		margin: auto;
		justify-content: center;
		margin-top: 10px;
	}
	.signUpBox>div {
		cursor: pointer;
		margin: 0 10px;
	}
}
/*  태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용) */
@media ( min-width : 768px) and (max-width: 991px) {
	.login_box {
		width: 700px;
    	margin: 0 auto;
    	text-align: center;
    	margin-bottom: 8em;
	}
	.loginSection {
		margin-bottom: 1em;
	}
	.loginSectionTitle {
		margin-top: 9em;
		font-size: 21px;
		font-weight: bold;
		margin-bottom: 8px;
	}
	.idListSection {
		font-size: 1.8em;
	}
	.pwdListSection {
		font-size: 1.8em;
	}
	.resetPwdEmail {
		text-align: center;
	}
	.loginBtn {
		cursor: pointer;
	    width: 150px;
	    height: 50px;
	    margin: 20px auto 1px;
	    background-color: #DAD1FF;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	    border-radius: 10px;
	    color: #4E4E4E;
	    font-weight: bold;
	    font-size: large;
	}
	.idBox {
		
	}
	.idList {
		
	}
	.loginInputForm {
		background-color: #505051;
		color: #fff;
		width: 300px;
		height: 42px;
		outline: none;
		font-size: 1.1em;
		border: 0;
		padding-left: 10px;
		box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
	}
	.insertId {
		background-color: #FFFFFF;
		color: #898989;
		border-radius: 10px;
	}
	.pwdBox {
		
	}
	.inputList {
		margin: 0.7em auto;
	}
	.pwdList {
		
	}
	.insertPwd {
		background-color: #FFEAF9;
		color: #898989;
    	border-radius: 10px;
	}
	.loginBtnBox {
		
	}
	.signUpBox {
		display: flex;
		text-align: center;
		margin: auto;
		justify-content: center;
		margin-top: 10px;
	}
	.signUpBox>div {
		cursor: pointer;
		margin: 0 10px;
	}
}
/*  데스크탑 (가로 해상도가 992px보다 크고 1199px 보다 작은 화면에 적용) */
@media ( min-width : 992px) and (max-width: 1199px) {
	.login_box {
		width: 700px;
    	margin: 0 auto;
    	text-align: center;
    	margin-bottom: 8em;
	}
	.loginSection {
		margin-bottom: 1em;
	}
	.loginSectionTitle {
		margin-top: 9em;
		font-size: 21px;
		font-weight: bold;
		margin-bottom: 8px;
	}
	.idListSection {
		font-size: 1.8em;
	}
	.pwdListSection {
		font-size: 1.8em;
	}
	.resetPwdEmail {
		text-align: center;
	}
	.loginBtn {
		cursor: pointer;
	    width: 150px;
	    height: 50px;
	    margin: 20px auto 1px;
	    background-color: #DAD1FF;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	    border-radius: 10px;
	    color: #4E4E4E;
	    font-weight: bold;
	    font-size: large;
	}
	.idBox {
		
	}
	.idList {
		
	}
	.loginInputForm {
		background-color: #505051;
		color: #fff;
		width: 300px;
		height: 42px;
		outline: none;
		font-size: 1.1em;
		border: 0;
		padding-left: 10px;
		box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
	}
	.insertId {
		background-color: #FFFFFF;
		color: #898989;
		border-radius: 10px;
	}
	.pwdBox {
		
	}
	.inputList {
		margin: 0.7em auto;
	}
	.pwdList {
		
	}
	.insertPwd {
		background-color: #FFEAF9;
		color: #898989;
    	border-radius: 10px;
	}
	.loginBtnBox {
		
	}
	.signUpBox {
		display: flex;
		text-align: center;
		margin: auto;
		justify-content: center;
		margin-top: 10px;
	}
	.signUpBox>div {
		cursor: pointer;
		margin: 0 10px;
	}
}
/*  큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용) */
@media ( min-width : 1200px) {
	.login_box {
		width: 700px;
    	margin: 0 auto;
    	text-align: center;
    	margin-bottom: 8em;
	}
	.loginSection {
		margin-bottom: 1em;
	}
	.loginSectionTitle {
		margin-top: 9em;
		font-size: 21px;
		font-weight: bold;
		margin-bottom: 8px;
	}
	.idListSection {
		font-size: 1.8em;
	}
	.pwdListSection {
		font-size: 1.8em;
	}
	.resetPwdEmail {
		text-align: center;
	}
	.loginBtn {
		cursor: pointer;
	    width: 150px;
	    height: 50px;
	    margin: 20px auto 1px;
	    background-color: #DAD1FF;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	    border-radius: 10px;
	    color: #4E4E4E;
	    font-weight: bold;
	    font-size: large;
	}
	.idBox {
		
	}
	.idList {
		
	}
	.loginInputForm {
		background-color: #505051;
		color: #fff;
		width: 300px;
		height: 42px;
		outline: none;
		font-size: 1.1em;
		border: 0;
		padding-left: 10px;
		box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
	}
	.insertId {
		background-color: #FFFFFF;
		color: #898989;
		border-radius: 10px;
	}
	.pwdBox {
		
	}
	.inputList {
		margin: 0.7em auto;
	}
	.pwdList {
		
	}
	.insertPwd {
		background-color: #FFEAF9;
		color: #898989;
    	border-radius: 10px;
	}
	.loginBtnBox {
		
	}
	.signUpBox {
		display: flex;
		text-align: center;
		margin: auto;
		justify-content: center;
		margin-top: 10px;
	}
	.signUpBox>div {
		cursor: pointer;
		margin: 0 10px;
	}
}
/* 반응형 작업해야 할것들 */
.LoginImg {
    background: url(../../image/loginPage_logo.png) 0% 0% / cover;
    width: 163px;
    height: 137px;
    margin: 20px auto 3px;
    cursor: pointer;
}