.title {
	font-size: 30px; 
	font-weight: bold;
	text-align: center; 
	margin-top: 50px;
}

/* <-- 입력 / 수정 & 확인 container --> */
.selectContainer{
	justify-content: center;
	display: flex;
}

.selectType {
	display: flex;
	width: 500px;
	justify-content: center;
	margin-top: 200px;
	margin-bottom: 3vh;
}

/* <-- 입력 및 말풍선 모양 --> */
.insert{
	position: relative;
	cursor: pointer;
	width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-right: 5px;
    background: #B3A5D9;
    padding: 20px;
    border-radius: 20px;
}
.insert:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-top-color: #b3a5d9;
	border-bottom: 0;
	border-right: 0;
	margin-bottom: -16px;
}

/* <-- 수정 & 확인 및 말풍선 모양 --> */
.update {
	position: relative;
	cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    margin-left: 5px;
    background: #B3A5D9;
    padding: 20px;
    border-radius: 20px;
}

.update:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-top-color: #b3a5d9;
	border-bottom: 0;
	border-left: 0;
	margin-bottom: -16px;
}

/* <-- 프로필 container --> */
.profileContainer {
    justify-content: center;
    display: flex;
}

.hookTest{
	cursor: pointer;
	font-weight: bold;
	font-size: 24px;
}

.profile {
	justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 200px;
}

.profileImg{
	background : url(../image/profile/default_profile.png);
	background-size: 100% 100%;
	width: 8em;
	height: 8em;
	margin: auto;
	border-radius: 100%;
	cursor: pointer;
}

.userName {
	cursor: pointer;
	text-align: center;
}

.logout{
	display: none;
	justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-top: 5px;
}

.userName_logout {
    font-size: medium;
}

.logoutPage{
	color: white;
}

.logoutPage:hover {
	color: white;
}
