.profile {
	display: flex;
    justify-content: flex-end;
    padding-right: 200px;
    padding-top: 30px;
}

.profileImg{
	background : url(../image/profile/default_profile.png);
	background-size: 100% 100%;
	width: 2em;
	height: 2em;
	margin: auto;
	margin-right: 0.4em;
	border-radius: 100%;
	cursor: pointer;
}

.userName {
	margin-top: 3px;
	cursor: pointer;
}

.logout{
	display: none;
	justify-content: flex-end;
    padding-left: 20px;
    padding-top: 2px;
}

.logoutPage{
	color: white;
}

.logoutPage:hover {
	color: white;
}