.topContainer {
	display: flex;
	justify-content: space-between;
	height: 5vh;
	position: sticky;
	background: #262626;
}

.functionPage{
	display: flex;
	width: 70%;
}

.page {
	cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
}

.insertPage{
	margin-right: 20px;
    margin-left: 10px;
}


.viewPage {
	cursor: pointer;
}

.profile {
	display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
    margin-top: 2px;
}

.profileImg{
	background : url(../image/profile/default_profile.png);
	background-size: 100% 100%;
    width: 2em;
    height: 2em;
    margin-top: 1px;
    margin-right: 0.4em;
    cursor: pointer;
}

.userName {
    cursor: pointer;
    min-width: 40px;
}

.logout{
	display: none;
    justify-content: flex-end;
    min-width: 55px;
}

.logoutPage{
	color: white;
}

.logoutPage:hover {
	color: white;
}

.upvoteLogo{
	font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    min-width: 300px;
    margin-left: 10px;
}

.test{
	color: white;
	width: 500px;
	height: 200px;
	overflow: overlay;
}