.topContainer {
	display: flex;
	justify-content: space-between;
	height: 5vh;
	position: sticky;
	background: #262626;
}

.functionPage{
	display: flex;
	width: 70%;
}

.page {
	cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: 3px;
}

.insertPage{
/* 	background : url(../image/create/Insert.png); */
/* 	background-size: 100% 100%; */
	margin-right: 20px;
}


.viewPage {
	cursor: pointer;
}

.profile {
	display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.profileImg{
	background : url(../image/profile/default_profile.png);
	background-size: 100% 100%;
	width: 2em;
	height: 2em;
	margin: auto;
	margin-right: 0.4em;
	border-radius: 100%;
	cursor: pointer;
}

.userName {
	margin-top: 6px;
	cursor: pointer;
}

.logout{
	display: none;
	justify-content: flex-end;
    padding-left: 20px;
    padding-top: 5px;
}

.logoutPage{
	color: white;
}

.logoutPage:hover {
	color: white;
}

.upvoteLogo{
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

.test{
	color: white;
	width: 500px;
	height: 200px;
	overflow: overlay;
}